__pycache__
.env
.history
.hypothesis/
build/
reports/

node_modules
package.json
img
artifacts
cache
coverage
.env
.*
README.md
coverage.json

.prettierignore
.prettierrc
.gitignore
.solhintignore
.solhint.json
.npmignore
memo.txt
yarn-error.log

HardHat_Marketplace
HardHat_Raffle